apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mccp.fullname" . }}-cluster-service
  namespace: {{ .Release.Namespace }}
data:
  CLUSTER_NAME: {{ .Values.config.cluster.name }}
  GIT_PROVIDER_TYPE: {{ .Values.config.git.type }}
  GIT_PROVIDER_HOSTNAME: {{ .Values.config.git.hostname }}
  CAPI_CLUSTERS_NAMESPACE: "{{ .Values.config.capi.clusters.namespace }}"
  CAPI_TEMPLATES_NAMESPACE: {{ .Values.config.capi.templates.namespace }}
  INJECT_PRUNE_ANNOTATION: {{ .Values.config.capi.templates.injectPruneAnnotation }}
  ADD_BASES_KUSTOMIZATION: {{ .Values.config.capi.templates.addBasesKustomization }}
  CAPI_TEMPLATES_REPOSITORY_URL: {{ .Values.config.capi.repositoryURL | quote }}
  CAPI_REPOSITORY_PATH: {{ .Values.config.capi.repositoryPath | quote }}
  CAPI_REPOSITORY_CLUSTERS_PATH: {{ .Values.config.capi.repositoryClustersPath | quote }}
  CAPI_TEMPLATES_REPOSITORY_API_URL: {{ .Values.config.capi.repositoryApiURL | quote }}
  CAPI_TEMPLATES_REPOSITORY_BASE_BRANCH: {{ .Values.config.capi.baseBranch | quote }}
  {{- $estimationFilter := (.Values.config.costEstimation).estimationFilter }}
  {{- if $estimationFilter }}
  COST_ESTIMATION_FILTERS: {{ $estimationFilter | quote }}
  {{- end }}
  {{- $apiRegion := (.Values.config.costEstimation).apiRegion }}
  {{- if $apiRegion }}
  COST_ESTIMATION_API_REGION: {{ $apiRegion | quote }}
  {{- end }}
  USE_K8S_CACHED_CLIENTS: {{.Values.global.useK8sCachedClients | quote }}
  {{- /* build up the support auth methods string, should look like "oidc,user-account" */ -}}
  {{- $authMethods := list }}
  {{- if .Values.config.auth.userAccount.enabled -}}{{- $authMethods = append $authMethods "user-account"  -}}{{- end }}
  {{- if .Values.config.auth.tokenPassthrough.enabled -}}{{- $authMethods = append $authMethods "token-passthrough" -}}{{- end }}
  {{- if .Values.config.oidc.enabled -}}{{- $authMethods = append $authMethods "oidc"  -}}{{- end }}
  AUTH_METHODS: {{ join "," $authMethods | quote }}
  ADMIN_SECRET: {{ .Values.config.auth.userAccount.secretName | quote }}
  CAPI_ENABLED: {{ .Values.global.capiEnabled | quote }}
  {{- if not .Values.config.checkpoint.enabled }}
  CHECKPOINT_DISABLE: 1
  {{- end }}
  {{- if .Values.config.oidc.enabled }}
  OIDC_ISSUER_URL: {{ .Values.config.oidc.issuerURL | quote }}
  OIDC_REDIRECT_URL: {{ .Values.config.oidc.redirectURL | quote }}
  OIDC_TOKEN_DURATION: {{ .Values.config.oidc.cookieDuration | quote }}
  OIDC_CLAIM_USERNAME: {{ .Values.config.oidc.claimUsername | quote }}
  CUSTOM_OIDC_SCOPES: {{ .Values.config.oidc.customScopes | quote }}
  OIDC_CLAIM_GROUPS: {{ .Values.config.oidc.claimGroups | quote }}
  {{- end }}
  NO_TLS: {{ not .Values.tls.enabled | quote }}
  {{- if and .Values.tls.enabled .Values.tls.secretName }}
  TLS_CERT_FILE: /etc/clusters-service-tls/tls.crt
  TLS_PRIVATE_KEY: /etc/clusters-service-tls/tls.key
  {{- end }}
  UI_CONFIG: {{ .Values.config.ui | toJson | quote }}