{{- if .Values.rbac.userRoles.create -}}
{{- if .Values.rbac.userRoles.roleAggregation.enabled -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
aggregationRule:
  clusterRoleSelectors:
  - matchLabels:
      rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
rules: []
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-apps-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: [""]
    resources: ["secrets", "pods"]
    verbs: ["get", "list"]
  - apiGroups: ["apps"]
    resources: ["deployments", "replicasets"]
    verbs: ["get", "list"]
  - apiGroups: ["kustomize.toolkit.fluxcd.io"]
    resources: ["kustomizations"]
    verbs: ["get", "list", "patch"]
  - apiGroups: ["helm.toolkit.fluxcd.io"]
    resources: ["helmreleases"]
    verbs: ["get", "list", "patch"]
  - apiGroups: ["source.toolkit.fluxcd.io"]
    resources: ["buckets", "helmcharts", "gitrepositories", "helmrepositories"]
    verbs: ["get", "list", "patch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-configmaps-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-templates-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["capi.weave.works"]
    resources: ["capitemplates"]
    verbs: ["get", "watch", "list"]
  - apiGroups: ["clustertemplates.weave.works"]
    resources: ["gitopstemplates"]
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-identities-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["infrastructure.cluster.x-k8s.io"]
    resources:
      [
        "awsclusterstaticidentities",
        "awsclusterroleidentities",
        "azureclusteridentities",
        "vsphereclusteridentities",
      ]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-secrets-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-policies-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["pac.weave.works"]
    resources: ["policies"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-canaries-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["flagger.app"]
    resources: ["canaries"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-gitopsclusters-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
- apiGroups: ["gitops.weave.works"]
  resources: ["gitopsclusters"]
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-capicluster-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
- apiGroups: ["cluster.x-k8s.io"]
  resources: ["clusters"]
  verbs: ["get", "list", "watch"]
{{- end }}
