{{- if .Values.rbac.userRoles.create -}}
{{- if .Values.rbac.userRoles.roleAggregation.enabled -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
aggregationRule:
  clusterRoleSelectors:
  - matchLabels:
      rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
rules: []
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-apps-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  # - apiGroups: ["*"]
  #   resources: ["*"]
  #   verbs: [ "get", "list", "watch" ]

  - apiGroups: ["kustomize.toolkit.fluxcd.io"]
    resources: ["*"]
    verbs: ["get", "list", "watch", "patch"]

  - apiGroups: ["helm.toolkit.fluxcd.io"]
    resources: ["*"]
    verbs: ["get", "list", "watch", "patch"]

  - apiGroups: ["source.toolkit.fluxcd.io"]
    resources: ["*"]
    verbs: ["get", "list", "watch", "patch"]

  - apiGroups: ["infra.contrib.fluxcd.io"]
    resources: ["*"]
    verbs: ["get", "watch", "list", "patch"]

  - apiGroups: ["templates.weave.works"]
    resources: ["*"]
    verbs: ["get", "list", "watch", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-configmaps-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-templates-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["capi.weave.works"]
    resources: ["capitemplates"]
    verbs: ["get", "watch", "list"]
  - apiGroups: ["templates.weave.works"]
    resources: ["gitopstemplates"]
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-identities-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["infrastructure.cluster.x-k8s.io"]
    resources:
      [
        "awsclusterstaticidentities",
        "awsclusterroleidentities",
        "azureclusteridentities",
        "vsphereclusteridentities",
      ]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-secrets-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch", "create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-policies-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["pac.weave.works"]
    resources: ["policies", "policyconfigs"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-canaries-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["flagger.app"]
    resources: ["canaries","metrictemplates"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-gitopsclusters-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
- apiGroups: ["gitops.weave.works"]
  resources: ["gitopsclusters"]
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-capicluster-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
- apiGroups: ["cluster.x-k8s.io"]
  resources: ["clusters"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-pipelines-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
- apiGroups: ["pipelines.weave.works"]
  resources: ["pipelines"]
  verbs: ["get", "list", "watch"]
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-workspaces-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: [""]
    resources: ["namespaces", "serviceaccounts"]
    verbs: ["get", "list"]
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources: ["roles", "rolebindings"]
    verbs: ["get", "list"]
  - apiGroups: ["pac.weave.works"]
    resources: ["policies"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitops-external-secrets-reader
  labels:
    {{- include "mccp.labels" . | nindent 4 }}
    {{- if .Values.rbac.userRoles.roleAggregation.enabled }}
    rbac.authorization.k8s.io/aggregate-to-gitops-reader: "true"
    {{- end }}
rules:
  - apiGroups: ["external-secrets.io"]
    resources: 
    - externalsecrets
    - clusterexternalsecrets
    - secretstores
    - clustersecretstores
    verbs: ["get", "list", "update", "patch"]
