policy-agent:
  enabled: true
  # maybe we disable the policy-agent with tilt so ignore timeouts etc
  failurePolicy: Ignore
  config:
    accountId: "weaveworks"
    clusterId: "tilt-cluster"

config:
  logLevel: debug
  # un-comment to disable auth
  # auth:
  #   noAuthentication:
  #     user: "wego-admin"

tls:
  enabled: false

# Turns on pipelines features when using Tilt.
enablePipelines: true

# Turns on explorer globally. See the explorer.enabledFor option to enable it for specific components.
explorer:
  enabled: true

# Turns on terraform UI features for local dev
enableTerraformUI: true

extraEnvVars:
  - name: WEAVE_GITOPS_FEATURE_COST_ESTIMATION
    value: ""
  - name: WEAVE_GITOPS_FEATURE_TELEMETRY
    value: "false"
  - name: BITBUCKET_SERVER_HOSTNAME
    value: "bitbucket.yiannis.net"

extraEnvVarsSecret: ""

# Turns on UI elements for GitOps Run
enableRunUI: true

gitopssets-controller:
  enabled: true

# Re-clarify capiEnabled
global:
  capiEnabled: true
