policy-agent:
  enabled: true
  # maybe we disable the policy-agent with tilt so ignore timeouts etc
  failurePolicy: Ignore
  config:
    accountId: "weaveworks"
    clusterId: "tilt-cluster"

config:
  logLevel: info

tls:
  enabled: false

# Turns on pipelines features when using Tilt.
enablePipelines: true

enableExplorer: true

# Turns on terraform UI features for local dev
enableTerraformUI: true

useQueryServiceBackend: false

extraEnvVars:
  - name: WEAVE_GITOPS_FEATURE_COST_ESTIMATION
    value: ""
  - name: WEAVE_GITOPS_FEATURE_TELEMETRY
    value: "false"
  - name: BITBUCKET_SERVER_HOSTNAME
    value: "bitbucket.yiannis.net"
  - name: DEV_MODE
    value: "true"

extraEnvVarsSecret: ""

# Turns on UI elements for GitOps Run
enableRunUI: true

gitopssets-controller:
  enabled: true

# Re-clarify capiEnabled
global:
  capiEnabled: true

metrics:
  # Enables metrics generation and prometheus endpoint
  enabled: true
  service:
    annotations:
      prometheus.io/scrape: "true"
