on:
  schedule:
    - cron: '10 0 * * *'
  workflow_dispatch:

name: nightly
jobs:
  build:
    uses: weaveworks/weave-gitops-enterprise/.github/workflows/build.yaml@main
    with:
      helmrepo: "nightly/charts-v3"
    secrets:
      BUILD_BOT_PERSONAL_ACCESS_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
      WGE_DOCKER_IO_USER: ${{ secrets.WGE_DOCKER_IO_USER }}
      WGE_DOCKER_IO_PASSWORD: ${{ secrets.WGE_DOCKER_IO_PASSWORD }}
      WGE_NPM_GITHUB_TOKEN: ${{ secrets.WGE_NPM_GITHUB_TOKEN }}
      WGE_S3_AWS_ACCESS_KEY_ID: ${{ secrets.WGE_S3_AWS_ACCESS_KEY_ID }}
      WGE_S3_AWS_SECRET_ACCESS_KEY: ${{ secrets.WGE_S3_AWS_SECRET_ACCESS_KEY }}

  acceptance-tests-eks:
    needs: [build]
    uses: weaveworks/weave-gitops-enterprise/.github/workflows/acceptance-test.yaml@unify-acceptance-test-jobs-action
    with:
      runs-on: ubuntu-latest
      os-name: linux
      timeout-minutes: 90
      focus-or-skip: "-ginkgo.skip='@gce|@capd'"
      kubectl-version: "v1.22.0"
      git-provider: github
      cluster_resource_set: false
      management-cluster-kind: eks
      gitops-bin-path: /usr/local/bin/gitops
      database-type: postgres      
      eks-leaf-kubeconfig: '/tmp/eks-leaf-kubeconfig'
      artifacts-base-dir: "/tmp/acceptance-test-eks"
    secrets:
      BUILD_BOT_USER: wge-build-bot
      BUILD_BOT_PERSONAL_ACCESS_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
      WGE_GITHUB_PRIVATE_KEY: ${{ secrets.WGE_GITHUB_PRIVATE_KEY }}
      WGE_GITHUB_TOKEN: ${{ secrets.WGE_GITHUB_TOKEN }}
      WGE_GITHUB_ORG: ${{ secrets.WGE_GITHUB_ORG }}
      WGE_GITHUB_USER: ${{ secrets.WGE_GITHUB_USER }}
      WGE_GITHUB_PASSWORD: ${{ secrets.WGE_GITHUB_PASSWORD }}
      WGE_GITHUB_MFA_KEY: ${{ secrets.WGE_GITHUB_MFA_KEY }}      
      WGE_EKS_AWS_ACCESS_KEY_ID: ${{ secrets.WGE_EKS_AWS_ACCESS_KEY_ID }}
      WGE_EKS_AWS_SECRET_ACCESS_KEY: ${{ secrets.WGE_EKS_AWS_SECRET_ACCESS_KEY }}
      WGE_ACCEPTANCE_EKS_KUBECONFIG: ${{ secrets.WGE_ACCEPTANCE_EKS_KUBECONFIG }}

  acceptance-tests-gke:
    needs: [build]
    uses: weaveworks/weave-gitops-enterprise/.github/workflows/acceptance-test.yaml@unify-acceptance-test-jobs-action
    with:
      runs-on: macOS-latest
      os-name: darwin
      timeout-minutes: 90
      focus-or-skip: "-ginkgo.skip='@gce|@eks|@capd|@upgrade'"
      kubectl-version: "v1.22.0"
      git-provider: github
      cluster_resource_set: false
      management-cluster-kind: gke
      gitops-bin-path: /usr/local/bin/gitops
      database-type: postgres      
      gce-leaf-kubeconfig: '/tmp/gce-leaf-kubeconfig'
      artifacts-base-dir: "/tmp/acceptance-test-gke"
    secrets:
      BUILD_BOT_USER: wge-build-bot
      BUILD_BOT_PERSONAL_ACCESS_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
      WGE_GITHUB_PRIVATE_KEY: ${{ secrets.WGE_GITHUB_PRIVATE_KEY }}
      WGE_GITHUB_TOKEN: ${{ secrets.WGE_GITHUB_TOKEN }}
      WGE_GITHUB_ORG: ${{ secrets.WGE_GITHUB_ORG }}
      WGE_GITHUB_USER: ${{ secrets.WGE_GITHUB_USER }}
      WGE_GITHUB_PASSWORD: ${{ secrets.WGE_GITHUB_PASSWORD }}
      WGE_GITHUB_MFA_KEY: ${{ secrets.WGE_GITHUB_MFA_KEY }}
      GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      WGE_ACCEPTANCE_GCE_KUBECONFIG: ${{ secrets.WGE_ACCEPTANCE_GCE_KUBECONFIG }}

  
