on:
  push:
    branches-ignore:
      - "main"
    tags-ignore:
      - "*"
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

name: run tests
jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GO_CACHE_NAME: cache-go-modules
    steps:
      - id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> $GITHUB_OUTPUT
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
      - name: echo ref
        run: |
          echo "${{ github.ref }}"
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: 1.20.x
      - name: Configure git for private modules
        env:
          GITHUB_BUILD_USERNAME: wge-build-bot
          GITHUB_BUILD_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
        run: git config --global url."https://${GITHUB_BUILD_USERNAME}:${GITHUB_BUILD_TOKEN}@github.com".insteadOf "https://github.com"
      - name: Checkout code
        uses: actions/checkout@v3.1.0
      - name: Go Build Cache
        uses: actions/cache@v3.0.11
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-${{ github.job }}-${{ env.GO_CACHE_NAME }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.job }}-${{ env.GO_CACHE_NAME }}-
      - name: Lint
        run: |
          make lint

  unit-tests:
    runs-on: ubuntu-latest
    env:
      GO_CACHE_NAME: cache-go-modules
      WGE_COVERALLS_TOKEN: ${{ secrets.WGE_COVERALLS_TOKEN }}
    steps:
      - id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> $GITHUB_OUTPUT
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: 1.20.x
      - name: Configure git for private modules
        env:
          GITHUB_BUILD_USERNAME: wge-build-bot
          GITHUB_BUILD_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
        run: git config --global url."https://${GITHUB_BUILD_USERNAME}:${GITHUB_BUILD_TOKEN}@github.com".insteadOf "https://github.com"
      - name: Checkout code
        uses: actions/checkout@v3.1.0
      - name: Go Build Cache
        uses: actions/cache@v3.0.11
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-build }}
            ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-${{ github.job }}-${{ env.GO_CACHE_NAME }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.job }}-${{ env.GO_CACHE_NAME }}-
      - name: Install goveralls
        run: go install github.com/mattn/goveralls@v0.0.11
      - name: Run unit tests
        run: |
          go version
          make unit-tests-with-coverage

  build:
    uses: ./.github/workflows/build.yaml
    with:
      helmrepo: "charts-v3"
    secrets:
      BUILD_BOT_PERSONAL_ACCESS_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
      WGE_DOCKER_IO_USER: ${{ secrets.WGE_DOCKER_IO_USER }}
      WGE_DOCKER_IO_PASSWORD: ${{ secrets.WGE_DOCKER_IO_PASSWORD }}
      WGE_S3_AWS_ACCESS_KEY_ID: ${{ secrets.WGE_S3_AWS_ACCESS_KEY_ID }}
      WGE_S3_AWS_SECRET_ACCESS_KEY: ${{ secrets.WGE_S3_AWS_SECRET_ACCESS_KEY }}

  integration-tests:
    runs-on: ubuntu-latest
    env:
      GO_CACHE_NAME: cache-go-modules
      YARN_CACHE_NAME: cache-yarn
      GITHUB_TOKEN: ${{ secrets.WGE_GITHUB_TOKEN }}
      GITHUB_ORG: ${{ secrets.WGE_GITHUB_ORG }}
      GITHUB_USER: ${{ secrets.WGE_GITHUB_USER }}
      GITLAB_TOKEN: ${{ secrets.WGE_ON_PREM_GITLAB_TOKEN }}
      GIT_PROVIDER_HOSTNAME: gitlab.git.dev.weave.works
    steps:
      - id: cache-paths
        run: |
          echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
          echo "go-build=$(go env GOCACHE)" >> $GITHUB_OUTPUT
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: 1.20.x
      - name: Configure git for private modules
        env:
          GITHUB_BUILD_USERNAME: wge-build-bot
          GITHUB_BUILD_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
        run: git config --global url."https://${GITHUB_BUILD_USERNAME}:${GITHUB_BUILD_TOKEN}@github.com".insteadOf "https://github.com"
      - name: Checkout code
        uses: actions/checkout@v3.1.0
      - name: Go Build Cache
        uses: actions/cache@v3.0.11
        with:
          path: |
            ${{ steps.cache-paths.outputs.go-build }}
            ${{ steps.cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-${{ github.job }}-${{ env.GO_CACHE_NAME }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.job }}-${{ env.GO_CACHE_NAME }}-
      - name: Yarn Cache
        uses: actions/cache@v3.0.11
        with:
          path: ${{ steps.cache-paths.outputs.dir }}
          key: ${{ runner.os }}-${{ env.YARN_CACHE_NAME }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.YARN_CACHE_NAME }}-
      - name: Set up ssh
        uses: ./.github/actions/setup-ssh
        with:
          ssh-private-key: ${{ secrets.WGE_GITHUB_PRIVATE_KEY }}
      - name: Run integration tests
        run: |
          go version
          make dependencies
          go test -v ./cmd/clusters-service/... -tags=integration
          go test -v ./pkg/git/... -tags=integration

  ui-unit-tests:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
      YARN_CACHE_NAME: cache-yarn
    steps:
      - id: cache-paths
        run: |
          echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
          echo "go-build=$(go env GOCACHE)" >> $GITHUB_OUTPUT
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
      - name: Checkout code
        uses: actions/checkout@v3.1.0
      - name: Yarn Cache
        uses: actions/cache@v3.0.11
        with:
          path: ${{ steps.cache-paths.outputs.dir }}
          key: ${{ runner.os }}-${{ env.YARN_CACHE_NAME }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.YARN_CACHE_NAME }}-
      - name: Install modules
        run: cd ui-cra && yarn --pure-lockfile
      - name: Run Front-end Unit Tests
        run: cd ui-cra && ./node_modules/.bin/react-scripts test  

  snyk-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Configure git for private modules
        env:
          GITHUB_BUILD_USERNAME: wge-build-bot
          GITHUB_BUILD_TOKEN: ${{ secrets.BUILD_BOT_PERSONAL_ACCESS_TOKEN }}
        run: git config --global url."https://${GITHUB_BUILD_USERNAME}:${GITHUB_BUILD_TOKEN}@github.com".insteadOf "https://github.com"
      - name: Checkout code
        uses: actions/checkout@v3.1.0
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: 1.20.x
      - name: Setup snyk
        uses: snyk/actions/setup@master
      - name: Setup snyk prerequisites
        run: |
          npm install --global snyk-delta
      - name: Look for new insecure dependencies or bad licenses
        run: |
          snyk test --org=product-engineering-ly9 --json --file=go.mod | snyk-delta
          snyk test --org=product-engineering-ly9 --json --file=common/go.mod | snyk-delta
          snyk test --org=product-engineering-ly9 --json --file=ui-cra/yarn.lock | snyk-delta
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_API_TOKEN }}

